*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blue{
    width: 50%;
    margin-left: 25%;
    background-color: dodgerblue;
    min-height: 900px;
    display: flex;
}
.User-Nav{
    background-color: #545353;
    color: white;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.User-Nav>ul>li>a{
    display: flex;
    height: 20px;
    text-decoration: none;
    color: white;
}
.User-Nav>ul>li>a:hover{
    color: #e3d5d5;
}
.User-Nav>ul{
     list-style-type:none;
}

.User-Msg{
    background-color: #7d7dfd;
    width: 80%;
    height: 1000px;
    overflow: scroll;
}
.User{
    display: flex;
    width: 100%;
}
.Find-One{
    overflow: hidden;
}